<h2 style="text-align:center;">Mes Pokemons</h2>
<mat-nav-list infiniteScroll (scrolled)="onScroll()">
  <mat-list-item *ngFor="let pokemon of pokemons?.data">
    <a routerLink="/detail/{{pokemon.id}}">
      <!-- <img matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt=""> -->
      <p>
        <img style="vertical-align:middle;margin-right: 15px;" matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt="">
        {{pokemon.id}}. {{pokemon.name}}
      </p>
    </a>  
  </mat-list-item>
</mat-nav-list>
